{% comment %} all products {% endcomment %}

{% for product in collection.all.product %}
  <div class="product-card">
    <h3>{{ product.title }}</h3>
    <img src="{{ product.featured_image | image_url }}" width="200" height="200" alt="{{ product.title }}">
    <p>{{ product.price | money }}</p>

    <a href="{{ product.url }}">View Product</a>
  </div>
{% endfor %}

{% schema %}
{
  "name": "Featured Product",
  "settings": [
    {
      "type": "text",
      "id": "product",
      "label": "Product Handle"
    }
  ]
}
{% endschema %}
